@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/user/create" method="post">
        <div class="form-group">
            <h3>Please Give Your Name</h3>
            <input class="form-control m-5" type="text" name="name">
        </div>
        <button class="btn btn-outline-info btn-lg m-3">Submit</button>
    </form>
</div>