@Model User

<h2>Submitted Info</h2>
<h3>Name: @Model.Name</h3>
<h3>Dojo Location : @Model.Location</h3>
<h3>Language : @Model.Comment</h3>
<h3>Comment(Optional) : @Model.Comment</h3>
<a href="/" class="btn btn-danger">Go Back</a>