<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form  action="process" method="post">
        <div>
            <label for="">Your Name</label>
            <input type="text" name="name">
        </div><br>
        <div>
            <label for="">Dojo Location</label>
            <input type="text" name="location">
        </div><br>
        <div>
            <label for="">Favorite Language</label>
            <select name="language" id="language">
                <option value="C#">C#</option>
                <option value="Java">Java</option>
            </select>
        </div><br>
        </div>
        <div>
            <label for="">Comment </label>
            <textarea name="comment" id="" cols="30" rows="10"></textarea >
        </div><br>
<button>Submit</button>
    </form>
</body>

</html>