@model Survey
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card shadow p-3 mb-3">
    <div class="card-body">
        <div class="mb-3">
            <h4>Name : @Model.name</h4>
        </div>
        <div class="mb-3">
            <h4>Location : @Model.location</h4>
        </div>
        <div class="mb-3">
            <h4>Language : @Model.language</h4>
        </div>
        <div class="mb-3">
            <h4>Starting Date : @Model.date</h4>
        </div>
    </div>
</div>
