@{
    ViewData["Title"] = "Privacy Policy";
}
@model Survey
<div class="card shadow p-3 mb-3">
    <div class="card-body">
        <div class="mb-3">
            <h4>Name : @Model.Name</h4>
        </div>
        <div class="mb-3">
            <h4>Location : @Model.Location</h4>
        </div>
        <div class="mb-3">
            <h4>Language : @Model.Language</h4>
        </div>
        <div class="mb-3">
            <h4> Comment: @Model.Comment</h4>
        </div>
    </div>
</div>