<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <nav class="flex">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/Projects">Projects</a>
        <span> | </span>
        <a href="/Contact">Contact</a>
</nav>
<div>
    <h1>Contact</h1>
</div>
<div>
    <form class="form">
        <div class="div">
        <label for="">Name</label>
        <input type="text">
        </div>
        <div class="div">
        <label for="">Email</label>
        <input type="text">
        </div>
        <div class="div">
        <label for="">Message</label>
        <input type="textarea">
        </div>
        <button>Send</button>
    </form>
</div>
</body>
</html>