<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <nav class="flex">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/Projects">Projects</a>
        <span> | </span>
        <a href="/Contact">Contact</a>
    </nav>
    <div>
        <h1>About Me</h1>
    </div>
    <div class="hello"></div>
        <div>
            <img src="Practice/Logo.jpg" alt="">
            <h3>hello !  </h3>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, harum impedit. Cumque molestiae delectus quidem neque eum velit accusantium architecto recusandae. Est laborum nobis non, deleniti unde recusandae alias doloribus.</p>
        </div>
    </div>


</body>

</html>