<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<body>
    <nav class="flex">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/Projects">Projects</a>
        <span> | </span>
        <a href="/Contact">Contact</a>
    </nav>
    <div>
        <h1>My Projects</h1>
    </div>
    <div class="project">
        <div class="projects">
            <img src="" alt="">
            <div>
                <h2>Project 1</h2>
                <h5>Portfolio</h5>
            </div>

        </div>
        <div class="Python">
            <img src="" alt="">
            <div>
                <h2>Project 2</h2>
                <h5>Python Project</h5>
            </div>
        </div>
        <div class="Boy">
            <img src="" alt="">
            <div>
                <h2>Project 3</h2>
                <h5>Mern Project</h5>
            </div>
        </div>
    </div>

</body>

</html>