@{
    ViewData["Title"] = "Login and Registration Page";
}

<div class="row mt-5">
    <div class="col-md border-end border-dark me-5">
        <partial name="_Register"></partial>
    </div>

    <div class="col-md">
        <partial name="_Login"></partial>
    </div>
</div>
